:root{
  --mainBlue:#2a2a72;
  --lightBlue:#009ffd;
  --mainWhite:#f3f3f3;
  --mainDark:#232528;
  --mainYellow:#ffa400;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase; 
}

.text-blue {
  color: var(--mainBlue);
}

.text-bright {
  color: var(--lightBlue);
}

.btn-black {
  background: transparent;
  border: solid 0.1rem var(--mainDark) !important;
  border-radius: 0 !important;
  margin: 1px !important;
  font-size: 0.8rem !important;
  color: var(--mainDark);
}

.btn-black:hover {
  background: var(--mainDark);
  color: var(--mainWhite) !important;
  
}

.trash-icon {
  color: var(--mainYellow) !important;
  font-size: 1.2rem !important;
}